<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:8889</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="model.Accounts"/>
        <mapping class="model.Categories"/>
        <mapping class="model.Customers"/>
        <mapping class="model.Images"/>
        <mapping class="model.OrderDetails"/>
        <mapping class="model.Orders"/>
        <mapping class="model.ProductDetails"/>
        <mapping class="model.Products"/>
        <mapping class="model.Roles"/>
        <mapping class="model.Staffs"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>